In [ ]:
from vivarium import InteractiveContext, Artifact

from datetime import datetime, timedelta
from pathlib import Path
import itertools
#import matplotlib
import ipywidgets
import pandas as pd, numpy as np
pd.set_option('display.max_rows', 60)

# Run specifications

- Ran off of the develop branch on 8/25/2022
- Last pulled from repo a long time ago
- [Some description of what this run/branch represents... aka model 1/etc.]

In [9]:
# I always try to track what branch I ran the interactiveSim from as well as the date since there's not a 
# great record of that otherwise

# link to InteractiveContext documentation: https://vivarium.readthedocs.io/en/latest/api_reference/interface/interactive.html

In [2]:
# link to model spec file in cloned project repo

path = Path('/ihme/homes/alibow/vivarium_gates_iv_iron/src/vivarium_gates_iv_iron/model_specifications/model_spec.yaml')
path

PosixPath('/ihme/homes/alibow/vivarium_gates_iv_iron/src/vivarium_gates_iv_iron/model_specifications/model_spec.yaml')

In [6]:
# when installing simulation environment... use: pip install -e .[dev]
# need to do the same for vivarium_public_health repo

In [8]:
#sim = InteractiveContext(path)

In [3]:
sim = InteractiveContext(Path(path), setup=False)
sim.configuration.update({
                          'population':
                              {'population_size': 10_000,
                              },
                          'time':
                              {'start':
                                  {'year': 2035
                                  }
                              }
                          }
                        )
sim.setup()

# if environment is not correct, you will get an error here

2022-08-25 12:24:26.860 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering metrics.1.population_manager.metrics as modifier to metrics
2022-08-25 12:24:26.873 | DEBUG    | vivarium.framework.artifact.manager:_load_artifact:66 - Running simulation from artifact located at /ihme/costeffectiveness/artifacts/vivarium_gates_iv_iron/south_asia.hdf.
2022-08-25 12:24:26.874 | DEBUG    | vivarium.framework.artifact.manager:_load_artifact:67 - Artifact base filter terms are ['draw == 20'].
2022-08-25 12:24:26.875 | DEBUG    | vivarium.framework.artifact.manager:_load_artifact:68 - Artifact additional filter terms are None.
2022-08-25 12:24:28.449 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline conception_rate
2022-08-25 12:24:29.722 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline probability_maternal_hemorrhage
2022-08-25 12:24:31.065 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering hemoglobin.exposure_parameters.1.pregnancy.hemoglobin_pregnancy_adjustment as modifier to hemoglobin.exposure_parameters
2022-08-25 12:24:31.067 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering hemoglobin.exposure.1.pregnancy.hemoglobin_hemorrhage_adjustment as modifier to hemoglobin.exposure
2022-08-25 12:24:33.726 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline hemoglobin.exposure_parameters
2022-08-25 12:24:33.728 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline raw_hemoglobin.exposure
2022-08-25 12:24:33.728 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline hemoglobin.exposure
2022-08-25 12:24:33.742 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline anemia_levels
2022-08-25 12:24:33.742 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline maternal_disorder_risk_effect
2022-08-25 12:24:33.743 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline anemia.disability_weight
2022-08-25 12:24:34.692 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering probability_maternal_hemorrhage.1.hemoglobin.adjust_maternal_hemorrhage_probability as modifier to probability_maternal_hemorrhage
2022-08-25 12:24:35.536 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline background_mortality_rate
2022-08-25 12:24:36.120 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline maternal_disorders.disability_weight
2022-08-25 12:24:36.121 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline real_anemia.disability_weight
2022-08-25 12:24:36.121 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering disability_weight.1.maternal_disability.accrue_disability as modifier to disability_weight
2022-08-25 12:24:36.841 | DEBUG    | vivarium.framework.values:register_value_modifier:392 - Registering hemoglobin.exposure.2.maternal_interventions.update_exposure as modifier to hemoglobin.exposure
2022-08-25 12:24:36.842 | DEBUG    | vivarium.framework.values:_register_value_producer:338 - Registering value pipeline metrics
2022-08-25 12:24:36.843 | WARNING  | vivarium.framework.values:on_post_setup:276 - Unsourced pipelines: ['disability_weight']
2022-08-25 12:24:36.846 | WARNING  | vivarium.framework.resource:_to_graph:253 - Resource missing_value_source.disability_weight is not provided by any component but is needed to compute (value.disability_weight).

In [4]:
pop0 = sim.get_population()
pop0

# data in this table is referred to as "state table data"

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,maternal_bmi_anemia_category,baseline_ifa_date,antenatal_iv_iron,postpartum_iv_iron_date,postpartum_iv_iron,maternal_supplementation_date,baseline_ifa,maternal_supplementation,treatment_propensity,antenatal_iv_iron_date
0,True,NaT,South Asia,2034-12-25,Female,alive,18.014279,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.854750,NaT
1,True,NaT,South Asia,2034-12-25,Female,alive,15.972427,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.250881,NaT
2,True,NaT,South Asia,2034-12-25,Female,alive,29.417976,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.836957,NaT
3,True,NaT,South Asia,2034-12-25,Female,alive,46.433871,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.048025,NaT
4,True,NaT,South Asia,2034-12-25,Female,alive,30.194803,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.591646,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,True,NaT,South Asia,2034-12-25,Female,alive,3.437935,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.396020,NaT
9996,True,NaT,South Asia,2034-12-25,Female,alive,34.189640,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.235425,NaT
9997,True,NaT,South Asia,2034-12-25,Female,alive,46.260938,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.055681,NaT
9998,True,NaT,South Asia,2034-12-25,Female,alive,24.642246,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.760983,NaT
9999,True,NaT,South Asia,2034-12-25,Female,alive,27.793376,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.117972,NaT

In [5]:
pop0.columns

Index(['tracked', 'exit_time', 'location', 'entrance_time', 'sex', 'alive',
       'age', 'years_of_life_lost', 'cause_of_death', 'birth_weight',
       'pregnancy_outcome', 'pregnancy_status', 'gestational_age',
       'pregnancy_duration', 'maternal_hemorrhage',
       'pregnancy_state_change_date', 'sex_of_child', 'country',
       'hemoglobin_distribution_propensity', 'hemoglobin_percentile',
       'maternal_bmi_propensity', 'maternal_bmi_anemia_category',
       'baseline_ifa_date', 'antenatal_iv_iron', 'postpartum_iv_iron_date',
       'postpartum_iv_iron', 'maternal_supplementation_date', 'baseline_ifa',
       'maternal_supplementation', 'treatment_propensity',
       'antenatal_iv_iron_date'],
      dtype='object')

In [9]:
# data found here is referred to as "pipeline data"
    # generally, pipeline data is more "dynamic" than state table data

sim.list_values()

['metrics',
 'conception_rate',
 'probability_maternal_hemorrhage',
 'hemoglobin.exposure_parameters',
 'hemoglobin.exposure',
 'maternal_disorder_risk_effect',
 'raw_hemoglobin.exposure',
 'anemia_levels',
 'anemia.disability_weight',
 'background_mortality_rate',
 'maternal_disorders.disability_weight',
 'real_anemia.disability_weight',
 'disability_weight']

In [6]:
sim.step()

2022-08-25 12:29:42.158 | DEBUG    | vivarium.framework.engine:step:169 - 2035-01-01 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value

In [7]:
sim.step()

2022-08-25 12:29:55.824 | DEBUG    | vivarium.framework.engine:step:169 - 2035-01-08 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value

In [9]:
pop1 = sim.get_population()
pop1

# note that this has more columns than pop0... new simulants "aged in" to population
# we didn't lose simulants! They're just marked as dead, but still in the table

# also check and see if there are tracked==False simulants in the table as well (may have aged out)

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,maternal_bmi_anemia_category,baseline_ifa_date,antenatal_iv_iron,postpartum_iv_iron_date,postpartum_iv_iron,maternal_supplementation_date,baseline_ifa,maternal_supplementation,treatment_propensity,antenatal_iv_iron_date
0,True,NaT,South Asia,2034-12-25,Female,alive,18.052609,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.854750,NaT
1,True,NaT,South Asia,2034-12-25,Female,alive,16.010757,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.250881,NaT
2,True,NaT,South Asia,2034-12-25,Female,alive,29.456306,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.836957,NaT
3,True,NaT,South Asia,2034-12-25,Female,alive,46.472201,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.048025,NaT
4,True,NaT,South Asia,2034-12-25,Female,alive,30.233133,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.591646,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,True,NaT,South Asia,2035-01-01,Female,alive,0.031147,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.638714,NaT
10002,True,NaT,South Asia,2035-01-08,Female,alive,0.015434,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.005664,NaT
10003,True,NaT,South Asia,2035-01-08,Female,alive,0.003043,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.528008,NaT
10004,True,NaT,South Asia,2035-01-08,Female,alive,0.013934,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.080288,NaT
10005,True,NaT,South Asia,2035-01-08,Female,alive,0.017674,0.0,not_dead,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.612098,NaT

In [10]:
pop1.loc[pop1.alive=='dead']

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,maternal_bmi_anemia_category,baseline_ifa_date,antenatal_iv_iron,postpartum_iv_iron_date,postpartum_iv_iron,maternal_supplementation_date,baseline_ifa,maternal_supplementation,treatment_propensity,antenatal_iv_iron_date
5083,True,2035-01-15,South Asia,2034-12-25,Female,dead,40.235228,49.092726,other_causes,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.958013,NaT
5129,True,2035-01-15,South Asia,2034-12-25,Female,dead,21.968064,67.163927,other_causes,NaN,...,invalid,NaT,invalid,NaT,invalid,NaT,invalid,invalid,0.347595,NaT

In [11]:
sim.get_value('conception_rate')(pop1.index)
    # this pulls conception rate data for all sims in pop1 data frame, 
        # by specifying unique simulant IDs (index of the pop1 DF)

0        0.000786
1        0.000786
2        0.004591
3        0.000096
4        0.002117
           ...
10001    0.000000
10002    0.000000
10003    0.000000
10004    0.000000
10005    0.000000
Name: value, Length: 10006, dtype: float64

In [12]:
data1 = pd.concat([pop1,
                   sim.get_value('conception_rate')(pop1.index).rename('conception_rate'),
                   sim.get_value('background_mortality_rate')(pop1.index).rename('background_mortality_rate'),
                   #sim.get_value('disability_weight')(pop1.index).rename('disability_weight'),
                   sim.get_value('hemoglobin.exposure_parameters')(pop1.index),
                   sim.get_value('hemoglobin.exposure')(pop1.index).rename('hemoglobin_exposure'),
                   sim.get_value('anemia_levels')(pop1.index).rename('anemia_exposure'),
                  ], axis=1)

    # this concat versus merge function is "risky" usually,
    # but the index is always guarenteed to be sorted here, so it's ok

In [13]:
data1.head()

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,maternal_supplementation,treatment_propensity,antenatal_iv_iron_date,conception_rate,background_mortality_rate,location,mean,stddev,hemoglobin_exposure,anemia_exposure
0,True,NaT,South Asia,2034-12-25,Female,alive,18.052609,0.0,not_dead,NaN,...,invalid,0.854750,NaT,0.000786,0.000016,NaN,117.553603,16.688422,108.646180,moderate
1,True,NaT,South Asia,2034-12-25,Female,alive,16.010757,0.0,not_dead,NaN,...,invalid,0.250881,NaT,0.000786,0.000016,NaN,117.553603,16.688422,124.591151,none
2,True,NaT,South Asia,2034-12-25,Female,alive,29.456306,0.0,not_dead,NaN,...,invalid,0.836957,NaT,0.004591,0.000023,NaN,118.291662,16.580834,117.664341,mild
3,True,NaT,South Asia,2034-12-25,Female,alive,46.472201,0.0,not_dead,NaN,...,invalid,0.048025,NaT,0.000096,0.000076,NaN,126.412984,15.034822,125.289192,none
4,True,NaT,South Asia,2034-12-25,Female,alive,30.233133,0.0,not_dead,NaN,...,invalid,0.591646,NaT,0.002117,0.000027,NaN,118.674474,16.826546,131.540787,none

In [14]:
data1[['age','conception_rate']]

             age  conception_rate
0      18.052609         0.000786
1      16.010757         0.000786
2      29.456306         0.004591
3      46.472201         0.000096
4      30.233133         0.002117
...          ...              ...
10001   0.031147         0.000000
10002   0.015434         0.000000
10003   0.003043         0.000000
10004   0.013934         0.000000
10005   0.017674         0.000000

[10006 rows x 2 columns]

In [15]:
data1.head()

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,maternal_supplementation,treatment_propensity,antenatal_iv_iron_date,conception_rate,background_mortality_rate,location,mean,stddev,hemoglobin_exposure,anemia_exposure
0,True,NaT,South Asia,2034-12-25,Female,alive,18.052609,0.0,not_dead,NaN,...,invalid,0.854750,NaT,0.000786,0.000016,NaN,117.553603,16.688422,108.646180,moderate
1,True,NaT,South Asia,2034-12-25,Female,alive,16.010757,0.0,not_dead,NaN,...,invalid,0.250881,NaT,0.000786,0.000016,NaN,117.553603,16.688422,124.591151,none
2,True,NaT,South Asia,2034-12-25,Female,alive,29.456306,0.0,not_dead,NaN,...,invalid,0.836957,NaT,0.004591,0.000023,NaN,118.291662,16.580834,117.664341,mild
3,True,NaT,South Asia,2034-12-25,Female,alive,46.472201,0.0,not_dead,NaN,...,invalid,0.048025,NaT,0.000096,0.000076,NaN,126.412984,15.034822,125.289192,none
4,True,NaT,South Asia,2034-12-25,Female,alive,30.233133,0.0,not_dead,NaN,...,invalid,0.591646,NaT,0.002117,0.000027,NaN,118.674474,16.826546,131.540787,none

In [16]:
data1['mild_threshold'] = np.where(data1.age<15, 115, np.where(data1.pregnancy_status=='not_pregnant', 120, 110))
data1['moderate_threshold'] = np.where(data1.age<15, 110, np.where(data1.pregnancy_status=='not_pregnant', 110, 100))
data1['severe_threshold'] = np.where(data1.age<15, 80, np.where(data1.pregnancy_status=='not_pregnant', 80, 70))
data1['ali_anemia'] = np.where(data1.hemoglobin_exposure < data1.severe_threshold, 'severe',
                              np.where(data1.hemoglobin_exposure < data1.moderate_threshold, 'moderate',
                                      np.where(data1.hemoglobin_exposure < data1.mild_threshold, 'mild', 'none')))
assert np.all(data1.anemia_exposure == data1.ali_anemia), "Simulated anemia exposures don't match up with expected thresholds"

In [18]:
# a loop like this is helpful to collect information about simulants at each timestep
# the InteractiveContext functions (like .run(), etc.) will just give you information
# of simulants at the time when you stop running.


# run for ~ one year so we can see the whole pregnancy transition for some simulants
sim_data = pd.DataFrame()
for step in list(range(0,10)):
    sim.step()
    pop_t = sim.get_population()
    data_t = pd.concat([pop_t,
                   sim.get_value('conception_rate')(pop_t.index).rename('conception_rate'),
                   sim.get_value('background_mortality_rate')(pop_t.index).rename('background_mortality_rate'),
                   #sim.get_value('disability_weight')(pop_t.index).rename('disability_weight'),
                   sim.get_value('hemoglobin.exposure_parameters')(pop_t.index),
                   sim.get_value('hemoglobin.exposure')(pop_t.index).rename('hemoglobin_exposure'),
                   sim.get_value('anemia_levels')(pop_t.index).rename('anemia_exposure'),
                  ], axis=1)
    data_t['step'] = step
    sim_data = pd.concat([sim_data, data_t])

2022-08-25 12:41:13.906 | DEBUG    | vivarium.framework.engine:step:169 - 2035-01-22 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:16.434 | DEBUG    | vivarium.framework.engine:step:169 - 2035-01-29 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:18.600 | DEBUG    | vivarium.framework.engine:step:169 - 2035-02-05 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:20.778 | DEBUG    | vivarium.framework.engine:step:169 - 2035-02-12 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:23.059 | DEBUG    | vivarium.framework.engine:step:169 - 2035-02-19 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:25.218 | DEBUG    | vivarium.framework.engine:step:169 - 2035-02-26 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:27.399 | DEBUG    | vivarium.framework.engine:step:169 - 2035-03-05 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:29.622 | DEBUG    | vivarium.framework.engine:step:169 - 2035-03-12 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:31.985 | DEBUG    | vivarium.framework.engine:step:169 - 2035-03-19 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value
2022-08-25 12:41:34.184 | DEBUG    | vivarium.framework.engine:step:169 - 2035-03-26 00:00:00
/ihme/code/alibow/miniconda/envs/vivarium_iv_iron/lib/python3.8/site-packages/vivarium/framework/randomness.py:253: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  return pd.Series(index=index)  # Structured null value

In [19]:
sim_data

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,treatment_propensity,antenatal_iv_iron_date,conception_rate,background_mortality_rate,location,mean,stddev,hemoglobin_exposure,anemia_exposure,step
0,True,NaT,South Asia,2034-12-25,Female,alive,18.090939,0.0,not_dead,NaN,...,0.854750,NaT,0.000786,0.000016,NaN,117.553603,16.688422,108.646180,moderate,0
1,True,NaT,South Asia,2034-12-25,Female,alive,16.049087,0.0,not_dead,NaN,...,0.250881,NaT,0.000786,0.000016,NaN,117.553603,16.688422,124.591151,none,0
2,True,NaT,South Asia,2034-12-25,Female,alive,29.494636,0.0,not_dead,NaN,...,0.836957,NaT,0.004591,0.000023,NaN,118.291662,16.580834,117.664341,mild,0
3,True,NaT,South Asia,2034-12-25,Female,alive,46.510531,0.0,not_dead,NaN,...,0.048025,NaT,0.000096,0.000076,NaN,126.412984,15.034822,125.289192,none,0
4,True,NaT,South Asia,2034-12-25,Female,alive,30.271463,0.0,not_dead,NaN,...,0.591646,NaT,0.002117,0.000027,NaN,118.674474,16.826546,131.540787,none,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10037,True,NaT,South Asia,2035-03-26,Female,alive,0.013840,0.0,not_dead,NaN,...,0.184478,NaT,0.000000,0.020729,NaN,152.074972,14.778651,130.850195,none,9
10038,True,NaT,South Asia,2035-03-26,Female,alive,0.017197,0.0,not_dead,NaN,...,0.948245,NaT,0.000000,0.020729,NaN,170.100817,12.368006,158.235073,none,9
10039,True,NaT,South Asia,2035-03-26,Female,alive,0.003090,0.0,not_dead,NaN,...,0.566779,NaT,0.000000,0.020729,NaN,152.074972,14.778651,123.043151,none,9
10040,True,NaT,South Asia,2035-03-26,Female,alive,0.013142,0.0,not_dead,NaN,...,0.489792,NaT,0.000000,0.020729,NaN,152.074972,14.778651,148.454196,none,9
10041,True,NaT,South Asia,2035-03-26,Female,alive,0.013808,0.0,not_dead,NaN,...,0.447678,NaT,0.000000,0.020729,NaN,152.074972,14.778651,150.247366,none,9

In [21]:
sim_data.loc[sim_data.pregnancy_status=='pregnant']

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,treatment_propensity,antenatal_iv_iron_date,conception_rate,background_mortality_rate,location,mean,stddev,hemoglobin_exposure,anemia_exposure,step
58,True,NaT,South Asia,2034-12-25,Female,alive,21.480201,0.0,not_dead,3878.785828,...,0.704657,NaT,0.004089,0.000022,NaN,110.128645,17.346554,106.270675,mild,0
128,True,NaT,South Asia,2034-12-25,Female,alive,26.065229,0.0,not_dead,3321.854574,...,0.940571,NaT,0.004591,0.000023,NaN,120.170272,14.568348,125.596657,none,0
141,True,NaT,South Asia,2034-12-25,Female,alive,23.695512,0.0,not_dead,NaN,...,0.052000,2035-01-22,0.004089,0.000022,NaN,110.128645,17.346554,95.360423,moderate,0
170,True,NaT,South Asia,2034-12-25,Female,alive,33.747379,0.0,not_dead,3293.715414,...,0.261993,NaT,0.002117,0.000027,NaN,119.979964,13.625907,130.303278,none,0
173,True,NaT,South Asia,2034-12-25,Female,alive,41.161189,0.0,not_dead,NaN,...,0.431861,NaT,0.000253,0.000055,NaN,111.161270,17.728006,119.605691,none,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,True,NaT,South Asia,2034-12-25,Female,alive,20.853068,0.0,not_dead,4104.082212,...,0.696540,NaT,0.004089,0.000022,NaN,110.128645,17.346554,114.051958,none,9
9974,True,NaT,South Asia,2034-12-25,Female,alive,25.515459,0.0,not_dead,1839.903238,...,0.391443,2035-02-05,0.004591,0.000023,NaN,111.621032,17.126678,111.834876,none,9
9981,True,NaT,South Asia,2034-12-25,Female,alive,36.406346,0.0,not_dead,NaN,...,0.602604,NaT,0.000765,0.000037,NaN,111.178323,17.387896,78.495006,moderate,9
9991,True,NaT,South Asia,2034-12-25,Female,alive,18.515583,0.0,not_dead,3158.491445,...,0.998804,NaT,0.000786,0.000016,NaN,110.924593,17.237808,120.417051,none,9
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.985660,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,9

In [24]:
sim_data.loc[9992]

,tracked,exit_time,location,entrance_time,sex,alive,age,years_of_life_lost,cause_of_death,birth_weight,...,treatment_propensity,antenatal_iv_iron_date,conception_rate,background_mortality_rate,location,mean,stddev,hemoglobin_exposure,anemia_exposure,step
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.813176,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,0
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.832341,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,1
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.851506,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,2
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.870671,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,3
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.889835,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,4
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.909000,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,5
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.928165,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,6
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.947330,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,7
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.966495,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,8
9992,True,NaT,South Asia,2034-12-25,Female,alive,21.985660,0.0,not_dead,3043.497135,...,0.948453,NaT,0.004089,0.000022,NaN,110.128645,17.346554,118.257406,none,9