# Risk Mediation for Heart Failure for BMI to FPG and SBP

This notebook is designed to calculate the mediation factors for heart failure for FPG and SBP. LDL-C does not directly affect HF in our model, and so does not have a mediation factor here. We also test if we need to include the risk mediation of BMI on FPG based on the results of a trial and the observed effect on FPG.

## First, we will load in the relative risk values from GBD

In [1]:
from db_queries import get_outputs as go
from db_queries import get_ids
from get_draws.api import get_draws
import numpy as np
import pandas as pd

In [2]:
ihd_bmi = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=370, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

ihd_bmi = ihd_bmi.loc[ihd_bmi.cause_id==493].reset_index()
ihd_bmi = ihd_bmi[['age_group_id','sex_id','draw_0']]
ihd_bmi['age_start'] = np.where(ihd_bmi['age_group_id']==10,25,np.where(ihd_bmi['age_group_id']==11,30,np.where(ihd_bmi['age_group_id']==12,35,np.where(ihd_bmi['age_group_id']==13,40,np.where(ihd_bmi['age_group_id']==14,45,np.where(ihd_bmi['age_group_id']==15,50,np.where(ihd_bmi['age_group_id']==16,55,np.where(ihd_bmi['age_group_id']==17,60,np.where(ihd_bmi['age_group_id']==18,65,np.where(ihd_bmi['age_group_id']==19,70,np.where(ihd_bmi['age_group_id']==20,75,np.where(ihd_bmi['age_group_id']==30,80,np.where(ihd_bmi['age_group_id']==31,85,np.where(ihd_bmi['age_group_id']==32,90,0))))))))))))))
ihd_bmi['sex'] = np.where(ihd_bmi['sex_id']==1,'Male','Female')
ihd_bmi = ihd_bmi.rename(columns={"draw_0": "ihd_bmi_rr"}).reset_index()
ihd_bmi = ihd_bmi.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_bmi.head()

/ihme/homes/lutzes/.conda/envs/vivarium_nih_us_cvd/lib/python3.8/site-packages/get_draws/transforms/version_transforms.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[version_id_type_name] = version_id

   level_0  index  age_group_id  sex_id  ihd_bmi_rr  age_start   sex
0        0      0            19       1    1.296208         70  Male
1        1      1            20       1    1.291149         75  Male
2        2      2            18       1    1.395200         65  Male
3        3      3            16       1    1.425974         55  Male
4        4      4            11       1    2.094858         30  Male

In [3]:
ihd_fpg = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=105, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

ihd_fpg = ihd_fpg.loc[ihd_fpg.cause_id==493].reset_index()
ihd_fpg = ihd_fpg[['age_group_id','sex_id','draw_0']]
ihd_fpg['age_start'] = np.where(ihd_fpg['age_group_id']==10,25,np.where(ihd_fpg['age_group_id']==11,30,np.where(ihd_fpg['age_group_id']==12,35,np.where(ihd_fpg['age_group_id']==13,40,np.where(ihd_fpg['age_group_id']==14,45,np.where(ihd_fpg['age_group_id']==15,50,np.where(ihd_fpg['age_group_id']==16,55,np.where(ihd_fpg['age_group_id']==17,60,np.where(ihd_fpg['age_group_id']==18,65,np.where(ihd_fpg['age_group_id']==19,70,np.where(ihd_fpg['age_group_id']==20,75,np.where(ihd_fpg['age_group_id']==30,80,np.where(ihd_fpg['age_group_id']==31,85,np.where(ihd_fpg['age_group_id']==32,90,0))))))))))))))
ihd_fpg['sex'] = np.where(ihd_fpg['sex_id']==1,'Male','Female')
ihd_fpg = ihd_fpg.rename(columns={"draw_0": "ihd_fpg_rr"}).reset_index()
ihd_fpg = ihd_fpg.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_fpg.head()

/ihme/homes/lutzes/.conda/envs/vivarium_nih_us_cvd/lib/python3.8/site-packages/get_draws/transforms/version_transforms.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[version_id_type_name] = version_id

   level_0  index  age_group_id  sex_id  ihd_fpg_rr  age_start     sex
0        0      0            10       2      1.9325         25  Female
1        1      1            11       2      1.6915         30  Female
2        2      2            12       2      1.4505         35  Female
3        3      3            13       2      1.3135         40  Female
4        4      4            14       2      1.2805         45  Female

In [17]:
ihd_sbp = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=107, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

ihd_sbp = ihd_sbp.loc[ihd_sbp.cause_id==493].reset_index()
ihd_sbp = ihd_sbp[['age_group_id','sex_id','draw_0']]
ihd_sbp['age_start'] = np.where(ihd_sbp['age_group_id']==10,25,np.where(ihd_sbp['age_group_id']==11,30,np.where(ihd_sbp['age_group_id']==12,35,np.where(ihd_sbp['age_group_id']==13,40,np.where(ihd_sbp['age_group_id']==14,45,np.where(ihd_sbp['age_group_id']==15,50,np.where(ihd_sbp['age_group_id']==16,55,np.where(ihd_sbp['age_group_id']==17,60,np.where(ihd_sbp['age_group_id']==18,65,np.where(ihd_sbp['age_group_id']==19,70,np.where(ihd_sbp['age_group_id']==20,75,np.where(ihd_sbp['age_group_id']==30,80,np.where(ihd_sbp['age_group_id']==31,85,np.where(ihd_sbp['age_group_id']==32,90,0))))))))))))))
ihd_sbp['sex'] = np.where(ihd_sbp['sex_id']==1,'Male','Female')
ihd_sbp = ihd_sbp.rename(columns={"draw_0": "ihd_sbp_rr"}).reset_index()
ihd_sbp = ihd_sbp.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_sbp.head()

/ihme/homes/lutzes/.conda/envs/vivarium_nih_us_cvd/lib/python3.8/site-packages/get_draws/transforms/version_transforms.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[version_id_type_name] = version_id

   level_0  index  age_group_id  sex_id  ihd_sbp_rr  age_start   sex
0        0      0            10       1      2.0317         25  Male
1        1      1            11       1      1.8558         30  Male
2        2      2            12       1      1.6799         35  Male
3        3      3            13       1      1.5729         40  Male
4        4      4            14       1      1.5348         45  Male

## Now we can calculate the deltas

In [35]:
bmi_delta = ihd_bmi.merge(ihd_fpg[['ihd_fpg_rr','age_start','sex']], on=['age_start','sex']).merge(ihd_sbp[['ihd_sbp_rr','age_start','sex']], on=['age_start','sex'])
bmi_delta['fpg_delta'] = ((0.149278 * (bmi_delta['ihd_bmi_rr'] - 1)) + 1)/ bmi_delta['ihd_fpg_rr']
bmi_delta['sbp_delta'] = ((0.311516 * (bmi_delta['ihd_bmi_rr'] - 1)) + 1)/ bmi_delta['ihd_sbp_rr']
bmi_delta = bmi_delta[['ihd_bmi_rr','ihd_fpg_rr','ihd_sbp_rr','age_start', 'sex', 'fpg_delta','sbp_delta']]
bmi_delta.head()

   ihd_bmi_rr  ihd_fpg_rr  ihd_sbp_rr  age_start   sex  fpg_delta  sbp_delta
0    1.296208      1.1512      1.3402         70  Male   0.907068   0.815008
1    1.291149      1.1897      1.2947         75  Male   0.877080   0.842433
2    1.395200      1.1485      1.3821         65  Male   0.922068   0.812612
3    1.425974      1.2145      1.4584         55  Male   0.875742   0.776672
4    2.094858      1.6915      1.8558         30  Male   0.687815   0.722635

## The RR for SBP to HF is categorical, we need continuous

In [13]:
sbp_exposure = go("rei", 
                  gbd_round_id=6, 
                  age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33], 
                  rei_id=107, 
                  measure_id=29, 
                  metric_id=3, 
                  year_id=2019, 
                  sex_id=[1,2], 
                  decomp_step='step5')
sbp_exposure

,age_group_id,location_id,measure_id,metric_id,rei_id,sex_id,year_id,age_group_name,expected,location_name,location_type,measure_name,metric_name,rei,rei_name,sex,val,upper,lower
0,10,1,29,3,107,1,2019,25 to 29,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.131426,0.169717,0.100436
1,10,1,29,3,107,2,2019,25 to 29,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.074082,0.115138,0.049306
2,11,1,29,3,107,1,2019,30 to 34,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.154430,0.198759,0.123441
3,11,1,29,3,107,2,2019,30 to 34,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.095779,0.143426,0.066933
4,12,1,29,3,107,1,2019,35 to 39,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.185438,0.229094,0.153097
5,12,1,29,3,107,2,2019,35 to 39,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.132892,0.192258,0.099644
6,13,1,29,3,107,1,2019,40 to 44,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.229214,0.277842,0.188926
7,13,1,29,3,107,2,2019,40 to 44,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.186865,0.261157,0.145091
8,14,1,29,3,107,1,2019,45 to 49,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.282336,0.348513,0.234005
9,14,1,29,3,107,2,2019,45 to 49,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.262624,0.369031,0.203235
10,15,1,29,3,107,1,2019,50 to 54,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.328115,0.407524,0.270515
11,15,1,29,3,107,2,2019,50 to 54,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.330128,0.443101,0.254851
12,16,1,29,3,107,1,2019,55 to 59,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.391772,0.467486,0.330002
13,16,1,29,3,107,2,2019,55 to 59,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.404299,0.513449,0.322762
14,17,1,29,3,107,1,2019,60 to 64,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.445994,0.531206,0.379562
15,17,1,29,3,107,2,2019,60 to 64,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.468349,0.571692,0.382349
16,18,1,29,3,107,1,2019,65 to 69,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.483617,0.579618,0.409836
17,18,1,29,3,107,2,2019,65 to 69,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.523712,0.631144,0.422776
18,19,1,29,3,107,1,2019,70 to 74,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.493415,0.580596,0.416643
19,19,1,29,3,107,2,2019,70 to 74,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.546222,0.649093,0.450874
20,20,1,29,3,107,1,2019,75 to 79,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.521265,0.601302,0.449835
21,20,1,29,3,107,2,2019,75 to 79,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.582639,0.668951,0.491247
22,30,1,29,3,107,1,2019,80 to 84,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.527099,0.611841,0.458349
23,30,1,29,3,107,2,2019,80 to 84,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.591587,0.689299,0.501975
24,31,1,29,3,107,1,2019,85 to 89,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.518769,0.582693,0.458911
25,31,1,29,3,107,2,2019,85 to 89,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.578630,0.668119,0.487937
26,32,1,29,3,107,1,2019,90 to 94,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,0.490178,0.542032,0.439425
27,32,1,29,3,107,2,2019,90 to 94,False,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,0.556132,0.642961,0.466921
28,33,1,29,3,107,1,2019,95 to 99,NaN,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Male,NaN,NaN,NaN
29,33,1,29,3,107,2,2019,95 to 99,NaN,Global,global,Summary exposure value,Rate,metab_sbp,High systolic blood pressure,Female,NaN,NaN,NaN

In [75]:
SBP_RR = pd.DataFrame(np.array([['<120',1,0],['120-129',1.27,5],['130-139',1.5,15],['140+',1.76,25]]),
                   columns=['SBP_Group', 'RR_original', 'Change_in_SBP'])
SBP_RR['Change_in_SBP'] = pd.to_numeric(SBP_RR['Change_in_SBP'])
cont_RR = 1.025
SBP_RR['New_RR'] = np.power(cont_RR,SBP_RR['Change_in_SBP'])
SBP_RR

#Population weighted mean for this group 
#We have exposure of SBP 
#Could get a better mean SBP for each group (improves the change in SBP) 

#Are there any GBD risks that are categorical? How do they do it? 

#120 vs 121+

  SBP_Group RR_original  Change_in_SBP    New_RR
0      <120           1              0  1.000000
1   120-129        1.27              5  1.131408
2   130-139         1.5             15  1.448298
3      140+        1.76             25  1.853944

## Lastly, we find the Mediation Factors

In [36]:
rr_fpg = 1.34
rr_sbp_1 = 1.025
rr_bmi = 1.14

In [77]:
bmi_delta['fpg_delta_adj'] = bmi_delta.fpg_delta / 5 #5 BMI unit RRs to a 1 unit FPG RR  
bmi_delta['sbp_delta_adj'] = bmi_delta.sbp_delta * 2 #5 unit BMI RR to a 10 unit SBP RR
bmi_delta['MF_FPG'] = ((rr_fpg-1)*bmi_delta['fpg_delta_adj']) / (rr_bmi - 1)
bmi_delta['MF_SBP'] = ((rr_sbp_1-1)*bmi_delta['sbp_delta_adj']) / (rr_bmi - 1)
bmi_delta = bmi_delta[['age_start', 'sex', 'sbp_delta_adj','MF_SBP']]
bmi_delta.head()

   age_start   sex  sbp_delta_adj    MF_SBP
0         70  Male       1.630016  0.291074
1         75  Male       1.684865  0.300869
2         65  Male       1.625224  0.290219
3         55  Male       1.553343  0.277383
4         30  Male       1.445270  0.258084

In [79]:
HF_MF=pd.DataFrame(bmi_delta)
HF_MF.to_csv('/ihme/homes/lutzes/heart_failure_MF.csv')

In [28]:
bmi_delta.MF_FPG.mean()

0.4018318358576316

## Testing based on the intervention if we need FPG 

This is bit tough/estimated since right now I am extracting data from a figure. I hope to find better data at some point. I am choosing to assess this at 1 year since that is when there is the greatest change in both BMI and FPG.

In [6]:
#int_bmi = 2.5
#int_fpg = 0.3 mmol/L --> 5 mg/dL

For BMI will account for a 1/2 unit change in FPG, the intervention saw a ~5 unit change, we should add mediation